*{
    margin: 0;

    padding: 0;

    text-decoration: none;

}

body{
    height: 100%;
    overflow-y: hidden
}

#root{
    height: 100%;

    width: 100%;
}
.main{
    display: flex;

    flex: 1 1 0%;

    flex-direction: column;

    padding-left: 250px;

    background-color: #122486;


}

.music{


    display: flex;

    flex-direction: column-reverse;

    padding-left: 24px;

    padding-right: 24px;

    padding-bottom: 40px;

    /* height: fit-content; */

    min-height: 80vh;

}

.routes{
    display: flex;

    /* height: fit-content; */

    padding-bottom: 160px;
}

.top_play{

    position: relative;

    top: 0px;

    height: fit-content;
}


.menu_icon{
    display: none;
}

.logo{
    width: 100%;

    height: 90px;

    object-fit: contain;

    margin-bottom: 20px;
}

.sidebar{
    height: 100vh;

    display: flex;

    flex-direction: column;

    position: fixed;
    
    width: 240px;

    padding-top: 40px;

    padding-bottom: 40px;

    padding-left: 16px;

    padding-right: 16px;

    background-color: #191624;

    z-index: 10;

}

.navlinks{
    margin-top: 40px;

}

.navlink{
    display: flex;

    justify-content: flex-start;

    align-items: center;

    margin-top: 32px;

    margin-bottom: 32px;

    color: gray;

    margin-top: 2rem;

    margin-bottom: 2rem;

    font-size: 20px;

    line-height: 14px;

    font-weight: 500;
}

.navlink:hover{
    color: cyan;
}

.menu_sidebar{
    position: absolute;

    top: 24px;

    right: 12px;
}

.menu_icon{

    width: 24px;

    margin-right: 8px;

}

.icon{
    width: 24px;

    height: 24px;

    margin-right: 8px;
}

form{
    padding: 8px;

    color: gray;

}

label{
    position: absolute;

    width: 1px;

    height: 1px;

    margin: -1px;

    overflow: hidden;

    clip: rect(0,0,0,0);

    white-space: nowrap;

    border-width: 0;
}

.search_container{
    display: flex;

    justify-content: flex-start;

    align-items: center;
}

.search_icon{
    width: 20px;

    height: 20px;

    margin-left: 16px;
}

.search_field{
    display: flex;

    flex: 1 1 0%;

    background-color: transparent;

    border-style: none;

    color: gray;

    outline: 2px solid transparent;

    font-size: 16px;

    color: white;

    padding: 16px;

}

.play_icon{
    color: gray;
}

.song_img{
    width:  100%;

    height: 100%;

    border-radius: 8px;
}

.songcard{
    display: flex;

    flex-direction: column;

    width: 250px;

    padding: 4;

    background-color: rgb(255 255 255 /0.05);

    opacity: 0.8;

    backdrop-filter: blur(4px);

    animation: songcard 1s ease-in-out;

    border-radius: 8px;

    cursor: pointer;
}

.img_group{
    position: relative;

    width: 100%;

    height: 224px;

}

.play_pause{
    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    display: flex;

    background-color: rgb(25 22 36);

    position: absolute;

    justify-content: center;

    align-items: center;

    background-color: rgb(255 255 255 /0.05);
}

.description{
    margin-top: 16px;

    display: flex;

    flex-direction: column;

}

.song_title{
    font-weight: 600;

    font-size: 18px;

    color: antiquewhite;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;
}

.song_subtitle{
    font-size: 14px;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;

    color: gray;

    margin-top: 4px;
}

.songs_container{
    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 24px;

    overflow-y:scroll ; 

    height: calc(68vh);

    margin-bottom: 50px;

}
.songs_container::-webkit-scrollbar {
    width: 0 !important;
     }

.song_genre{
    width: 100%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    flex-direction: column;

    margin-top: 16px;

    margin-bottom: 40px;

}

.select{
    background-color: #191624;

    color: gray;

    padding: 15px;

    font-size: small;

    border-radius: 8px;

    outline: none;

}

.music_player_container{
    position: absolute;

    height: 112px;

    bottom: 0;

    left: 0;

    right: 0;

    display: flex;

    background-color: #2a2a80;

    border-top-left-radius: 24px;

    border-top-right-radius: 24px;

    z-index: 10;

    width: 100%;

}

.music_player{
    position: relative;

    padding-left: 48px;    

    padding-right: 48px;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: space-between;
}

.audio_sett{
    display: flex;

    flex: 1 1 0%;

    flex-direction: column;

    align-items: center;

    justify-content: center;
}

.track_info{
    display: flex;

    flex: 1 1 0%;

    align-items: center;

    justify-content: flex-start;
}
.track_image{
    height: 64px;

    width: 64px;

    margin-right: 16px;
}

.rounded-full{
    height: 64px;

    width: 64px;

    margin-right: 16px;

    border-radius: 9999px;
}

.controls{
    display: flex;

    align-items: center;

    justify-content: space-around;

    width: 350px;
}

.seek_bar{
    display: flex;

    align-items: center;
}

.seek_bar_input{
    height: 4px;
}
@keyframes songcard{
    from{
        opacity: 0;

        transform: translateY(25%);
    }
    to{
        opacity: 1;

        transform: none;
    }
}

@media (max-width:768px){
   
    
    .menu_icon{
        display: block;
    }

    .open{
       display: block;
    }

    .close{
        display: none;
    }

    .songs_container{
        justify-content: flex-start;
    }

    .song_genre{
        flex-direction: row;
    }

    .select{
        margin-top: 0;

    }
    .music_player{
       /* display: none; */
       overflow: hidden;
       display: flex;
    }
    .track_info{
        width: 20%;
    }
    .audio_sett{
        width: 80%;
    }
    .seek_bar_input{
        /* display: block;

        width: 96px; */
        display: none;
    }
    .hidden {
        display: none;
    }
    .track_image{
        width: 40px;
    }
    .controls{
        display: flex;
    
        align-items: center;
    
        justify-content: space-around;
    
        width: 96px;
    }
     
   .main{
    padding-left: 0;
   }

}